.main-section{
    background-color: #000;
    padding-top: 50px ;
    padding-bottom: 100px;
    border-bottom: 10px solid purple;
}

.main-section.-bgBlack{
    background-color: #000;
}
.main-section.-bdFirst{
    border-bottom: 10px solid purple;
}

.main-section .main-title{
    margin-bottom: 60px;
}